.content {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20%;
}

.logo {
    width: 95%;
    margin-bottom: 20px;
    display: block;
    height: auto;
}

.handButton{
    margin-right: auto;
    margin-left: auto;
    width: 150px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.5);
    border: solid 2px rgb(255, 255, 255, 0.75);
    height: 56px;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.42);
    padding: 29px 25px 25px 25px;
    text-align: center;
    color: black;
}

.darkerFont{
    color: rgba(50, 50, 50);
}

.card {
    color: black;
    margin-right: auto;
    margin-left: auto;
    width: 350px;
    height: 420px;
    padding: 22px 25px 25px 25px;
    text-align: center;
    background: rgba(255, 255, 255, 0.45);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.4);
  }

.card p {
    padding-left: 10px;
    padding-right: 10px;
}

.cardContent {
    width: 100%;
    height: 100%;
    position: relative;
}

.title{
    font-size: 36px;
    background: -webkit-linear-gradient(45deg, #FF4DC5, #f8c81a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle{
    font-size: 20px;
    margin-bottom: 60px;
    background: -webkit-linear-gradient(45deg, #FF4DC5, #f8c81a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nextLink{
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    text-decoration: none;
    color: rgb(50,50,50);
    padding: 0;
    cursor: pointer;
}

.nextLink:hover{
    text-decoration: underline;
}

.nextIcon{
    position: absolute;
    margin-left: 5px;
}

.form {
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.form label {
    font-size: 1rem;
    margin-bottom: 5px;
}

.inputDiv{
    display:flex;
    flex-direction: column;
}

.input {
    height: 32px;
    margin-bottom: 18px;
    font-size: 0.9rem;
    color: rgba(120, 120, 120);
    background-color: white;
    border-radius: 3px;
    border: 0px;
    padding-left: 5px;
}

.inputError {
    border: 1px solid red;
}

.form button {
    margin-top: 30px;
    height: 36px;
    width: 180px;
    font-size: 0.9rem;
    border-radius: 10px;
    box-shadow: 8px 8px 13px rgba(129, 124, 124, 0.7);
    background: -webkit-linear-gradient(45deg, #FF4DC5 0%, #f8c81a);
    border: none;
    transition: 230ms ease-in-out;
    -webkit-transition: 230ms ease-in-out;
    -moz-transition: 230ms ease-in-out;
}

.form button:hover{
    box-shadow: 8px 8px 13px rgba(129, 124, 124, 0.83);
}

.datepicker {
    margin-top: 25px;
    height: 32px;
    width: 168px;
    margin-bottom: 18px;
    font-size: 0.9rem;
    color: rgba(120, 120, 120);
    background-color: white;
    border-radius: 3px;
    border: 0px;
    padding-left: 5px;
}

@media (max-width: 600px) {
    .content{
        margin-top: 32%;
    }

    .card{
        width: 325px;
        height: 450px;
    }
    
.title{
    font-size: 32px;
}

.subtitle{
    font-size: 20px;
}
  }