.weatherCard {
overflow: scroll;
display: flex;
flex-direction: row;
border-radius: (5px);
background-color: rgba(255, 255, 255, 0.15);
border: solid 2px rgb(255, 255, 255, 0.75);
border-radius: 10px;
scroll-behavior: smooth;
padding: 10px 5px;
box-shadow: 0 2px 7px rgba(129, 124, 124, 0.5);
}
.weatherCard > div{
    display: flex;
    flex-direction: row;
}

.weatherCard span {
    padding: 2px;
    width: 87px;
    height: 25px;
}

.weatherCard > div {
    display: flex;
    flex-direction: column;
}