.weatherCard {
overflow: scroll;
display: flex;
flex-direction: row;
border-radius: (5px);
border: solid 0.5px rgb(255, 255, 255, 0.5);
border-radius: 10px;
scroll-behavior: smooth;
padding: 10px 5px;
box-shadow: 2px 5px 15px rgba(129, 124, 124, 0.5);
}
.weatherCard > div{
    margin-left: 3px;
    display: flex;
    flex-direction: row;
}

.weatherCard span {
    padding: 2px;
    width: 87px;
    height: 25px;
}

.weatherCard > div {
    display: flex;
    flex-direction: column;
}