.weatherCard {
display: flex;
flex-direction: row;
max-width: 90%;
margin-left: auto;
margin-right: auto;
scroll-behavior: smooth;
overflow: scroll;
border-radius: (5px);
}

.weatherCard tr {
    height: 40px;
}

.weatherCard > div {
    display: flex;
    flex-direction: column;
}